.rates {
  padding: 15px;
}

.rate {
  height: 91px;
  margin: 0 0 15px;
  background: #454545;

  &__currency {
    font-size: 60px;
    line-height: 92px;
    background: #333;
    float: left;
    height: 100%;
    font-weight: 300;
    width: 55px;
    text-align: center;
    color: #D9FFF9;
  }

  &__type {
    & + & {
      border-top: 1px solid #121212;
    }
  }

  &__val {
    text-align: center;
    display: block;
    font-size: 34px;
    font-weight: 300;
    line-height: 45px;
    color: white;
  }

  &__button {
    float: right;
    text-decoration: none;
    background: #333;
    height: 43px;
    color: #7cbd6d;
    width: 110px;
    border: 1px solid #7cbd6d;
    text-align: center;
    padding: 0;
    font-size: 20px;
    line-height: 46px;
  }
}
