@import 'common/*';
@import 'ui/*';

html {
  height: 100%;
}

body {
  height: 100%;
  font: 14px/18px Helvetica, arial, sans-serif;
  color: $textColor;
  background: $bg;
}

.wrapper {
  width: 100%;
}